@import "./reset.css";

/* body styles */
* {
  box-sizing: border-box;
}
body {
  min-width: 500px;
  background-color: rgb(235, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* header styles */
header {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  padding: 30px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.headerback {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0px;
  left: 0px;
  background-image: url("./../imgs/js.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 35%;
}
.header-content > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.1em;
  text-decoration: underline rgb(92, 77, 77);
  text-align: center;
}
.header-content > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-shadow: 2px 5px 7px rgb(87, 69, 69);
}
h1 {
  font-size: 3em;
}
.button {
  width: 200px;
  background: linear-gradient(to right, rgb(184, 163, 163), rgb(241, 235, 235));
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}
a:link {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(7, 53, 105);
}
a:visited {
  color: rgb(7, 53, 105);
}
a:hover {
  color: red;
}
a:active {
  color: yellow;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6em;
  font-weight: 800;
  padding: 15px 0;
  letter-spacing: 0.2em;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  font-weight: 800;
  padding: 10px 0;
}
/* section-1 */
.full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
  background: linear-gradient(to right, rgb(155, 143, 143), rgb(201, 186, 186), rgb(236, 228, 228));
}
.js {
  word-spacing: 0.8em;
  text-indent: 3em;
}
/* section-2 */
.containerHalf {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.half {
  width: 38%;
  height: 210px;
  background-color: #f0ece2;
  border: 2px double #a89b72;
  border-radius: 25px 5px;
  box-shadow: 3px 3px 3px 1px rgb(54, 54, 46);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}
.half > p {
  margin: 0;
  width: 80%;
  height: 70%;
}
/* section-3 */
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLangs {
  width: 90%;
  background-color: black;
  height: 530px;
  overflow-y: auto;
  border: 3px outset rgb(161, 155, 155);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.percent33 {
  width: 250px;
  height: 500px;
  margin: 1% 5%;
  background-color: azure;
  border: 2px solid rgb(58, 46, 46);
  text-align: center;
  border-radius: 70px 10px;
}
.percent33:hover {
  background-color: rgb(214, 150, 137);
  color: white;
  cursor: pointer;
}
img {
  width: 180px;
  height: 150px;
}
/* section-4 */
.containerFrameworks {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.containerFrameworks > h2 {
  text-align: center;
  font-style: italic;
}
.containerFrameworks-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.containerFrameworks-2 > div {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  word-spacing: 1em;
  font-weight: 800;
  text-shadow: 1px 5px 7px black;
  width: 50%;
  text-align: center;
}
/* section-5 */
.containerPreEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}
.containerPreEnd > div {
  width: 50%;
  height: 70%;
  background-color: rgb(197, 183, 183);
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.containerPreEnd > div + div {
  background-color: rgb(255, 255, 255);
}
.containerPreEnd > div > a {
  font-variant: small-caps;
  font-size: 0.9em;
  font-weight: 800;
}
/* footer */
footer {
  text-align: center;
}
.full > a {
  font-variant: small-caps;
  font-size: 0.9em;
  font-weight: 800;
  font-style: oblique 80deg;
}
